.button_dialog {
  background-color: #556ee6 !important;
  border-color: #556ee6 !important;
  color: #fff;
}
.content_form {
  font-weight: 400 !important;
  font-size: 16px !important;
}
.o_form_view .o_form_nosheet {
  padding: 0px !important;
}
.modal.o_technical_modal .modal-content .modal-header .modal-title {
  font-size: 24px !important;
}
