<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem 
        id="menu_cr_ach_root" 
        name="Manage Achievement"
        sequence="10"
        web_icon="create_achievement,static/src/img/icons/achievement_icon.png"
    />    
    <menuitem 
        id="menu_cr_ach_achievement" 
        name="Achivement"
        parent="menu_cr_ach_root"
        action="action_cr_achievement"
        sequence="10"
    />
</odoo>
